@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: rgb(236, 144, 32);
    padding-bottom: 10px; 
}

main{
    background-color: rgba(204, 202, 202, 0.562);
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    padding: 5px;
}